extends layout

block content
  .container
    .infoContainer
      .contentTitle Welcome !{user.full_name}
      if user.admin
        div You are an admin member.
      else 
        a.button(href="/upgrade-membership") Become admin
      a.button(href="/message") Add message
      block password
    .messagesContainer 
      div(style="font-weight:700") Messages:
      if messages 
        each message in messages 
          div.singleMessage
            div
              .messageTitle #{message.title}
              .messageText #{message.text}
              .messageDate #{message.timestamp}
            div
              .userName #{message.owner.full_name}
            if user.admin   
              form.homeForm(action=`/message/${message._id}`, method="POST")
                button.homeButton(type="submit") Delete
      else 
        div There are no messages to show