extends layout

block content
  .container
    .infoContainer
      .contentTitle Welcome !{user.full_name}
      if user.admin
        div You are an admin member.
      else 
        a.button(href="/upgrade-membership") Become admin
      a.button(href="/message") Add message
      block password
    .messagesContainer 
      div Messages:
      if messages 
        each message in messages 
          div.singleMessage
            i.fas.fa-user-circle
            div
              .userName #{message.title}
              .userMessage #{message.text}
              .userInfo #{message.owner.full_name}
              .userInfo #{message.timestamp}
            if user.admin   
              form(action=`/message/${message._id}`, method="POST")
                button(type="submit") Delete
      else 
        div There are no messages to show