extends layout

block content
  .container
    .infoContainer
      .contentTitle Welcome !{user.full_name}
      a.button(href="/message") Add message
      if user.membership==="member"
        a.button(href="/password") Become admin
      else 
        div You are an admin member.
      block password
    .messagesContainer 
      if messages 
        each message in messages 
          div.singleMessage
            i.fas.fa-user-circle
            div
              .userName #{message.title}
              .userMessage #{message.text}
              .userInfo #{message.owner.full_name}
              .userInfo #{message.timestamp}

      else 
        div There are no messages to show