extends layout

block content
  .container
    .welcome
      h1= "Welcome to members only"
      h2= "Please leave us a message"
      a.button(href="/sign-up") Sign Up
      a.button(href="/log-in") Log In
    .messagesContainer 
       
      if messages 
        each message in messages 
          div.singleMessage
            i.fas.fa-user-circle
            div
              .userName #{message.title}
              .userMessage #{message.text}
              .userInfo #{message.timestamp}

      else 
        div There are no messages to show 

